<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tea n Me | About Us</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="about-us-style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet">
</head>

<body>
    <!-- JOEY'S NAV BAR -->
    <div class="nav">
        <div class="logo">
            <a href="/"><img src="assets/bear-brown.png" alt="" class="bear"></a>
            <h1><a href="/">Tea n Me</a></h1>
        </div>
        <div class="hamburger" onclick="burgerOn()">
            <img src="assets/hamburger.png" alt="" class="hamburger">
        </div>

        <div class="nav-items">
            <ul>
                <li>
                    <a href="/">
                        Home
                    </a>
                </li>
                <li>
                    <a href="/menu">
                        Menu
                    </a>
                </li>
                <li>
                    <a href="/about-us">
                        About Us
                    </a>
                </li>
                <li>
                    <div class="online-order">
                        <a href="/online-order">
                            Order Online
                        </a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div id="drop-down">
        <ul class="drop-down-items">
            <li>
                <div class="drop-home">
                    <a href="/">home</a>
                </div>
            </li>
            <hr>
            <li>
                <div class="drop-menu">
                    <a href="/menu">menu</a>
                </div>
            </li>
            <hr>
            <li>
                <div class="drop-about">
                    <a href="/about-us">about us</a>
                </div>
            </li>
            <hr>
            <li>
                <div class="drop-order">
                    <a href="/online-order">order online</a>
                </div>
            </li>
        </ul>
    </div>

    <div class="back-to-top">
        <a href="#top">
            <img src="assets/chevron-up-solid.svg" alt="">
            <p>Back to top</p>
        </a>
    </div>

    <script>
        function burgerOn() {
            var x = document.getElementById("drop-down");
            if (x.style.display === "block") {
                x.style.display = "none";
            } else {
                x.style.display = "block";
            }
        } 
    </script>
    <!-- END OF NAV BAR -->

<!-- KAITLYN'S ABOUT US PAGE -->
<div class = "container">
    <div class="about_us_image">
        <img src="assets/About-us.jpeg" alt="About us Tea " style= " width: 100%; height: 600px;" >
        <h2> ABOUT US </h2>
    </div> 
</div>
   
   


    

   
    <div class="story_section">
        
        <div class="story_box">
            <div class="inner_story_box">
                <h3>Our Story</h3>
                <p>lorLorem ipsum dolor sit amet consectetur, adipisicing elit. Quia quisquam consequatur qui natus rerum beatae doloribus aperiam amet enim quo fuga consequuntur ut magni, maiores, minus, tenetur voluptatum distinctio laborum?orLorem ipsum dolor sit amet consectetur, adipisicing elit. Quia quisquam consequatur qui natus rerum beatae doloribus aperiam amet enim quo fuga consequuntur ut magni, maiores, minus, tenetur voluptatum distinctio laborum?orLorem ipsum dolor sit amet consectetur, adipisicing elit. Quia quisquam consequatur qui natus rerum beatae</p>
            
                <div class="inner_story_pic">
                    <img src="assets/story.jpeg" alt=" Our Story " style="width:300px;height:300px;border-radius: 10%; border: solid 4px #252424;">
                    </div> 
            </div>  

            
        </div>

         
    </div>

    

    <div class="finest_section">

        <div class="finest_box">
            <div class="inner_finest_box">
                <h3> Finest Ingredients</h3>
                <p>orLorem ipsum dolor sit amet consectetur, adipisicing elit. Quia quisquam consequatur qui natus rerum beatae doloribus aperiam amet enim quo fuga consequuntur ut magni, maiores, minus, tenetur voluptatum distinctio laborum?orLorem ipsum dolor sit amet consectetur, adipisicing elit. Quia quisquam consequatur qui natus rerum beatae doloribus aperiam amet enim quo fuga consequuntur ut magni, maiores, minus, tenetur voluptatum distinctio laborum?orLorem ipsum dolor sit amet consectetur, adipisicing elit. Quia quisquam consequatur qui natus rerum beatae                                                                                                                                            </p>
            
                <div class="inner_finest_pic">
                   
                    <img src="assets/ingredients.jpeg" alt=" Finest " style="width:300px;height:300px;border-radius: 10%; border: solid 4px #252424;">
                    </div> 
            
            </div>
       
            </div>
            
            
        </div>
    </div>

   
        
    </div> 

    <div class="location_hours_section">
         <div class="location_hours_box">
            <div class="inner_location_hours_box">
                <h3>Hours & Location</h3>
                <p>orLorem ipsum dolor sit amet consectetur, adipisicing elit. Quia quisquam consequatur qui natus rerum beatae doloribus aperiam amet enim quo fuga consequuntur ut magni, maiores, minus, tenetur voluptatum distinctio laborum?orLorem ipsum dolor sit amet consectetur, adipisicing elit. 
                    Quia quisquam consequatur qui natus rerum beatae doloribus aperiam amet enim quo fuga consequuntur ut magni, maiores, minus, tenetur voluptatum distinctio laborum?orLorem ipsum dolor sit amet consectetur, adipisicing elit. Quia quisquam consequatur qui natus rerum beataa</p>
           
                <div class="inner_hours_pic">
                    <img src="assets/hours.jpeg" alt=" Hours " style="width:300px;height:300px;border-radius: 10%;border: solid 4px #252424;">
                    </div> 
           
            </div>
        </div>
    </div>

<!-- END OF ABOUT US -->

    <!-- JOEY'S FOOTER -->
    <footer>
        <div class="footer">
            <div class="footer-logo">
                <img src="assets/bear-brown.png" alt="" class="footer-bear">
            </div>
            <div class="copyright">
                <p>♥ Made with love by Corey, Harmanpreet, Jenny, Joey, Kaitlyn, Sara ♥</p>
            </div>
        </div>
    </footer>
    <!-- END OF FOOTER -->

</body>
</html>